@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

body {
  background-color: #fbf8ec;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 116px;
}

header .catalog-modal-active {
  z-index: 90;
  transform: translateY(254px);
  transition: all ease 0.5s;
  position: fixed;
}
header .catolog-modal {
  width: 100%;
  height: 250px;
  background-color: #fff;
  transition: all ease 0.5s;
  top: -170px;
  position: fixed;
}
header .catolog-modal .modal-content {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}
header .catolog-modal .modal-content li a {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}
header .catolog-modal .modal-content li a:hover {
  color: #ff6633;
}
header .nav-content {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}
header .nav-content .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
header .nav-content .navigation .logo-box {
  cursor: pointer;
}
header .nav-content .navigation .logo-box .logo-res {
  display: none;
}
header .nav-content .navigation .button-box {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #70c05b;
}
header .nav-content .navigation .button-box .menu-btn {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
header .nav-content .navigation .button-box .menu-btn div {
  width: 20px;
  height: 1px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
header .nav-content .navigation .button-box .menu-btn.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}
header .nav-content .navigation .button-box .menu-btn.active .line2 {
  opacity: 0;
}
header .nav-content .navigation .button-box .menu-btn.active .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}
header .nav-content .navigation .button-box .catalog-box a {
  color: #fff;
  font-size: 16px;
}
header .nav-content .navigation .search-box {
  border: 1px solid #70c05b;
  display: flex;
  align-items: center;
}
header .nav-content .navigation .search-box input {
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
}
header .nav-content .navigation .search-box img {
  padding-right: 8px;
}
header .nav-content .navigation .servise-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 24px;
}
header .nav-content .navigation .servise-box li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .nav-content .navigation .servise-box li img {
  width: auto;
  height: 25px;
}
header .nav-content .navigation .select-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .nav-content .navigation .select-box img {
  cursor: pointer;
}
header .nav-content .navigation .select-box select {
  background-color: transparent;
  border: none;
}
header .nav-content .navigation .select-box select option {
  font-family: Rubik;
  margin-right: 20px;
  color: #232323;
}
header .hero {
  top: 80px;
  right: 0;
  left: 0;
  margin-top: 85px;
  background-color: #fff;
  background-image: url(/img/hero.svg);
  height: 200px;
}
header .hero .hero-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .hero .hero-content h1 {
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}

main .discount-section,
main .newItem-section,
main .purchased-section {
  margin-top: 100px;
}
main .discount-section .section-title,
main .newItem-section .section-title,
main .purchased-section .section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .discount-section .section-title h2,
main .newItem-section .section-title h2,
main .purchased-section .section-title h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}
main .discount-section .section-title a,
main .newItem-section .section-title a,
main .purchased-section .section-title a {
  color: #606060;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .discount-section .discount-content,
main .newItem-section .discount-content,
main .purchased-section .discount-content {
  margin-top: 40px;
}
main .discount-section .discount-content .product-list,
main .newItem-section .discount-content .product-list,
main .purchased-section .discount-content .product-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
main .discount-section .discount-content .product-list .product-item,
main .newItem-section .discount-content .product-list .product-item,
main .purchased-section .discount-content .product-list .product-item {
  position: relative;
  width: 272px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1019607843);
}
main .discount-section .discount-content .product-list .product-item .card:hover,
main .newItem-section .discount-content .product-list .product-item .card:hover,
main .purchased-section .discount-content .product-list .product-item .card:hover {
  transform: translate(1px, -1px);
  box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
  transition: all ease 0.3s;
}
main .discount-section .discount-content .product-list .product-item .card .like-btn,
main .newItem-section .discount-content .product-list .product-item .card .like-btn,
main .purchased-section .discount-content .product-list .product-item .card .like-btn {
  z-index: 10;
  position: absolute;
  right: 15px;
  top: 15px;
}
main .discount-section .discount-content .product-list .product-item .card .like-btn img,
main .newItem-section .discount-content .product-list .product-item .card .like-btn img,
main .purchased-section .discount-content .product-list .product-item .card .like-btn img {
  background: #f3f2f1;
  padding: 5px;
  border-radius: 4px;
}
main .discount-section .discount-content .product-list .product-item .card .product-img,
main .newItem-section .discount-content .product-list .product-item .card .product-img,
main .purchased-section .discount-content .product-list .product-item .card .product-img {
  margin-top: 8px;
  position: relative;
}
main .discount-section .discount-content .product-list .product-item .card .discount-label,
main .newItem-section .discount-content .product-list .product-item .card .discount-label,
main .purchased-section .discount-content .product-list .product-item .card .discount-label {
  position: absolute;
  top: 130px;
  right: 200px;
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: #ff6633;
  display: inline;
  padding: 7px;
  border-radius: 5px;
}
main .discount-section .discount-content .product-list .product-item .card .card-content,
main .newItem-section .discount-content .product-list .product-item .card .card-content,
main .purchased-section .discount-content .product-list .product-item .card .card-content {
  padding: 8px;
}
main .discount-section .discount-content .product-list .product-item .card .price,
main .newItem-section .discount-content .product-list .product-item .card .price,
main .purchased-section .discount-content .product-list .product-item .card .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .discount-section .discount-content .product-list .product-item .card .price .card-price,
main .newItem-section .discount-content .product-list .product-item .card .price .card-price,
main .purchased-section .discount-content .product-list .product-item .card .price .card-price {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}
main .discount-section .discount-content .product-list .product-item .card .price .old-price,
main .newItem-section .discount-content .product-list .product-item .card .price .old-price,
main .purchased-section .discount-content .product-list .product-item .card .price .old-price {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #606060;
}
main .discount-section .discount-content .product-list .product-item .card .servis,
main .newItem-section .discount-content .product-list .product-item .card .servis,
main .purchased-section .discount-content .product-list .product-item .card .servis {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .discount-section .discount-content .product-list .product-item .card .servis span,
main .newItem-section .discount-content .product-list .product-item .card .servis span,
main .purchased-section .discount-content .product-list .product-item .card .servis span {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #bfbfbf;
}
main .discount-section .discount-content .product-list .product-item .card .description,
main .newItem-section .discount-content .product-list .product-item .card .description,
main .purchased-section .discount-content .product-list .product-item .card .description {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}
main .discount-section .discount-content .product-list .product-item .card .rating,
main .newItem-section .discount-content .product-list .product-item .card .rating,
main .purchased-section .discount-content .product-list .product-item .card .rating {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
main .discount-section .discount-content .product-list .product-item .card .add-to-cart,
main .newItem-section .discount-content .product-list .product-item .card .add-to-cart,
main .purchased-section .discount-content .product-list .product-item .card .add-to-cart {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  height: 40px;
  width: 100%;
  color: #70c05b;
  background-color: transparent;
  border: 1px solid #70c05b;
  border-radius: 4px;
}
main .discount-section .discount-content .product-list .product-item .card .add-to-cart:hover,
main .newItem-section .discount-content .product-list .product-item .card .add-to-cart:hover,
main .purchased-section .discount-content .product-list .product-item .card .add-to-cart:hover {
  background: #ff6633;
  color: #fff;
  transition: ease all 0.5s;
  border: 1px solid #ff6633;
}
main .offers-section {
  margin-top: 120px;
  margin-bottom: 120px;
}
main .offers-section .offer-content h2 {
  color: #414141;
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .offers-section .offer-content .cards {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .offers-section .offer-content .cards li:nth-child(1) {
  background: #fcd5ba;
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5019607843);
  border-radius: 8px;
}
main .offers-section .offer-content .cards li:nth-child(2) {
  background: #e5ffde;
  box-shadow: 0px 8px 16px 0px #e5ffde;
  border-radius: 8px;
}
main .offers-section .offer-content .cards li {
  padding: 35px;
  width: 584px;
  height: 200px;
  display: flex;
  align-items: center;
}
main .offers-section .offer-content .cards li .card-text h3 {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}
main .offers-section .offer-content .cards li .card-text p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}
main .adress-section {
  margin-bottom: 120px;
}
main .adress-section .adress-content {
  margin-top: 40px;
}
main .adress-section .adress-content .map-btn {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 25px;
}
main .adress-section .adress-content .map-btn .btn {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: #f3f2f1;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}
main .adress-section .adress-content .map-btn .btn:focus {
  color: #fff;
  background-color: #70c05b;
}
main .articles-section {
  margin-bottom: 40px;
}
main .articles-section h2 {
  font-family: Rubik;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .articles-section .cards {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .articles-section .cards li {
  border-radius: 8px;
  background-color: #fff;
  width: 376px;
  height: 420px;
}
main .articles-section .cards li img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
main .articles-section .cards li .card-content {
  padding: 10px;
}
main .articles-section .cards li .card-content span {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #8f8f8f;
}
main .articles-section .cards li .card-content h3 {
  margin-top: 10px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}
main .articles-section .cards li .card-content p {
  margin-top: 10px;
  color: #414141;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
main .articles-section .cards li .card-content .card-btn {
  margin-top: 10px;
  background: #e5ffde;
  border-radius: 4px;
  color: #70c05b;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: none;
  padding: 5px 10px;
}
main .articles-section .cards li .card-content .card-btn:hover {
  background-color: #70c05b;
  color: #fff;
}
main .location-section {
  margin-top: 120px;
}
main .location-section .location-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .location-section .location-content a {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #8f8f8f;
}
main .company-section {
  margin-bottom: 100px;
}
main .company-section .company-content {
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/img/com-vek.svg);
  background-repeat: no-repeat;
  background-size: 669px;
  background-position: 550px 0px;
}
main .company-section .company-content .txt-content h1 {
  font-family: Rubik;
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}
main .company-section .company-content .txt-content p {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff6633;
}
main .description-section {
  margin-bottom: 100px;
}
main .description-section .features ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
main .description-section .features ul li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}
main .description-section .features ul li h3 {
  font-size: 1rem;
  margin: 0;
}
main .description-section .features ul li p {
  margin: 4px 0 0;
  font-size: 0.9rem;
}
main .description-section .features ul li img {
  width: 24px;
  height: 24px;
}
main .smile-section {
  margin-bottom: 100px;
}
main .smile-section .smile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

footer {
  padding: 20px 0 0;
  bottom: 0px;
  left: 45px;
  background-image: url(/img/bg-footer.svg);
  background-size: cover;
  margin-bottom: 25px;
}
footer .foot {
  display: flex;
  align-items: center;
}
footer .foot .foot-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 155px;
}
footer .foot .foot-ul li {
  gap: 40px;
  display: flex;
  align-items: center;
}
footer .foot .foot-ul li a {
  color: #414141;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
footer .foot .foot-ul li .sm {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .foot .foot-ul li .phone {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .foot .foot-last {
  display: flex;
  align-items: center;
  justify-content: end;
}
footer .foot .foot-last .noname {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .foot-nav {
  display: none;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }
  header .nav-content .navigation {
    gap: 20px;
  }
  header .nav-content .navigation .logo-box .logo {
    display: none;
  }
  header .nav-content .navigation .logo-box .logo-res {
    display: block;
  }
  header .nav-content .navigation .button-box .catalog-box {
    display: none;
  }
  header .nav-content .navigation .search-box input {
    width: 200px;
  }
  header .nav-content .navigation .select-box select {
    display: none;
  }
  header .hero .hero-content h1 {
    font-size: 35px;
  }
  main .discount-section,
  main .newItem-section,
  main .purchased-section {
    margin-top: 100px;
  }
  main .discount-section .discount-content .product-list,
  main .newItem-section .discount-content .product-list,
  main .purchased-section .discount-content .product-list {
    overflow: hidden;
    gap: 10px;
  }
  main .discount-section .discount-content .product-list .product-item .card .product-img,
  main .newItem-section .discount-content .product-list .product-item .card .product-img,
  main .purchased-section .discount-content .product-list .product-item .card .product-img {
    width: 235px;
  }
  main .discount-section .discount-content .product-list .product-item .card .discount-label,
  main .newItem-section .discount-content .product-list .product-item .card .discount-label,
  main .purchased-section .discount-content .product-list .product-item .card .discount-label {
    position: absolute;
    top: 110px;
    right: 165px;
  }
}
@media (max-width: 360px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 10px;
  }
  header .nav-content .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
  }
  header .nav-content .navigation .logo-box {
    cursor: pointer;
  }
  header .nav-content .navigation .logo-box .logo-res {
    display: block;
  }
  header .nav-content .navigation .button-box {
    display: none;
  }
  header .nav-content .navigation .search-box {
    border: 1px solid #70c05b;
    display: flex;
    align-items: center;
  }
  header .nav-content .navigation .search-box input {
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
  }
  header .nav-content .navigation .search-box img {
    padding-right: 8px;
  }
  header .nav-content .navigation .servise-box {
    display: none;
  }
  header .nav-content .navigation .select-box {
    display: none;
  }
  header .hero {
    height: 100px;
  }
  header .hero .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .hero .hero-content img {
    display: none;
  }
  header .hero .hero-content h1 {
    font-size: 20px;
    line-height: 100px;
  }
  main .discount-section,
  main .newItem-section,
  main .purchased-section {
    margin-top: 20px;
  }
  main .discount-section .section-title h2,
  main .newItem-section .section-title h2,
  main .purchased-section .section-title h2 {
    font-size: 24px;
    line-height: 24px;
  }
  main .discount-section .discount-content,
  main .newItem-section .discount-content,
  main .purchased-section .discount-content {
    margin-top: 40px;
  }
  main .discount-section .discount-content .product-list,
  main .newItem-section .discount-content .product-list,
  main .purchased-section .discount-content .product-list {
    overflow: hidden;
    gap: 15px;
  }
  main .discount-section .discount-content .product-list .product-item .card .like-btn,
  main .newItem-section .discount-content .product-list .product-item .card .like-btn,
  main .purchased-section .discount-content .product-list .product-item .card .like-btn {
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  main .discount-section .discount-content .product-list .product-item .card .product-img,
  main .newItem-section .discount-content .product-list .product-item .card .product-img,
  main .purchased-section .discount-content .product-list .product-item .card .product-img {
    width: 160px;
    margin-top: 8px;
    position: relative;
  }
  main .discount-section .discount-content .product-list .product-item .card .discount-label,
  main .newItem-section .discount-content .product-list .product-item .card .discount-label,
  main .purchased-section .discount-content .product-list .product-item .card .discount-label {
    position: absolute;
    top: 70px;
    right: 280px;
    color: #fff;
    font-size: 16px;
    display: inline;
    padding: 3px;
    border-radius: 5px;
  }
  footer .foot-nav-content {
    position: fixed;
    bottom: 0;
    background-color: #fff;
  }
  footer .foot-nav-content .foot-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 0;
  }
  footer .foot-nav-content .foot-nav .search-box {
    display: none;
  }
  footer .foot-nav-content .foot-nav .select-box {
    cursor: pointer;
    margin-right: 15px;
  }
  footer .foot-nav-content .foot-nav .select-box select {
    display: none;
  }
  footer .foot-nav-content .foot-nav .servise-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  footer .foot-nav-content .foot-nav .servise-box li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  footer .foot-nav-content .foot-nav .servise-box li p {
    font-size: 10px;
  }
  footer .foot-nav-content .foot-nav .servise-box li img {
    width: auto;
    height: 25px;
  }
  footer .foot-nav-content .foot-nav .button-box {
    cursor: pointer;
    margin-top: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn div {
    width: 20px;
    height: 1px;
    background-color: #000;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn.active .line2 {
    opacity: 0;
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn.active .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  footer .foot-nav-content .foot-nav .button-box .catalog-box p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
