@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

body {
  background-color: #fbf8ec;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 116px;
}

header .nav-content {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}
header .nav-content .navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
header .nav-content .navigation .logo-box {
  cursor: pointer;
}
header .nav-content .navigation .logo-box .logo-res {
  display: none;
}
header .nav-content .navigation .button-box {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #70c05b;
}
header .nav-content .navigation .button-box .menu-btn {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
header .nav-content .navigation .button-box .menu-btn div {
  width: 20px;
  height: 1px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
header .nav-content .navigation .button-box .menu-btn.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}
header .nav-content .navigation .button-box .menu-btn.active .line2 {
  opacity: 0;
}
header .nav-content .navigation .button-box .menu-btn.active .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}
header .nav-content .navigation .button-box .catalog-box p {
  color: #fff;
  font-size: 16px;
}
header .nav-content .navigation .search-box {
  border: 1px solid #70c05b;
  display: flex;
  align-items: center;
}
header .nav-content .navigation .search-box input {
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
}
header .nav-content .navigation .search-box img {
  padding-right: 8px;
}
header .nav-content .navigation .servise-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 24px;
}
header .nav-content .navigation .servise-box li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .nav-content .navigation .servise-box li img {
  width: auto;
  height: 25px;
}
header .nav-content .navigation .select-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .nav-content .navigation .select-box img {
  cursor: pointer;
}
header .nav-content .navigation .select-box select {
  background-color: transparent;
  border: none;
}
header .nav-content .navigation .select-box select option {
  font-family: Rubik;
  margin-right: 20px;
  color: #232323;
}
header .hero {
  position: fixed;
  right: 0;
  left: 0;
  margin-top: 87px;
  background-color: #fff;
  background-image: url(/img/hero.svg);
  height: 200px;
}
header .hero .hero-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .hero .hero-content h1 {
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #414141;
}

footer .foot-nav {
  display: none;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }
  header .nav-content .navigation {
    gap: 20px;
  }
  header .nav-content .navigation .logo-box .logo {
    display: none;
  }
  header .nav-content .navigation .logo-box .logo-res {
    display: block;
  }
  header .nav-content .navigation .button-box .catalog-box {
    display: none;
  }
  header .nav-content .navigation .search-box input {
    width: 200px;
  }
  header .nav-content .navigation .select-box select {
    display: none;
  }
}
@media (max-width: 360px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 16px;
  }
  header .nav-content .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
  }
  header .nav-content .navigation .logo-box {
    cursor: pointer;
  }
  header .nav-content .navigation .logo-box .logo-res {
    display: block;
  }
  header .nav-content .navigation .button-box {
    display: none;
  }
  header .nav-content .navigation .search-box {
    border: 1px solid #70c05b;
    display: flex;
    align-items: center;
  }
  header .nav-content .navigation .search-box input {
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
  }
  header .nav-content .navigation .search-box img {
    padding-right: 8px;
  }
  header .nav-content .navigation .servise-box {
    display: none;
  }
  header .nav-content .navigation .select-box {
    display: none;
  }
  footer .foot-nav-content {
    position: fixed;
    bottom: 0;
    background-color: #fff;
  }
  footer .foot-nav-content .foot-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 0;
  }
  footer .foot-nav-content .foot-nav .search-box {
    display: none;
  }
  footer .foot-nav-content .foot-nav .select-box {
    cursor: pointer;
    margin-right: 15px;
  }
  footer .foot-nav-content .foot-nav .select-box select {
    display: none;
  }
  footer .foot-nav-content .foot-nav .servise-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  footer .foot-nav-content .foot-nav .servise-box li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  footer .foot-nav-content .foot-nav .servise-box li p {
    font-size: 10px;
  }
  footer .foot-nav-content .foot-nav .servise-box li img {
    width: auto;
    height: 25px;
  }
  footer .foot-nav-content .foot-nav .button-box {
    cursor: pointer;
    margin-top: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn div {
    width: 20px;
    height: 1px;
    background-color: #000;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn.active .line2 {
    opacity: 0;
  }
  footer .foot-nav-content .foot-nav .button-box .menu-btn.active .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  footer .foot-nav-content .foot-nav .button-box .catalog-box p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
