@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}
body {
  background-color: #fbf8ec;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 116px;
}

header {
  .catalog-modal-active {
    z-index: 90;
    transform: translateY(254px);
    transition: all ease 0.5s;
    position: fixed;
  }
  .catolog-modal {
    // border-top: 1px solid #fcd5ba;
    width: 100%;
    height: 250px;
    background-color: #fff;
    transition: all ease 0.5s;
    top: -170px;
    position: fixed;
    .modal-content {
      padding-top: 25px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 30px;
      li {
        a {
          font-family: Rubik;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #414141;
        }
        a:hover {
          color: #ff6633;
        }
      }
    }
  }

  .nav-content {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px 0;
      // border-bottom: 5px solid #fbf8ec;
      .logo-box {
        cursor: pointer;
        .logo-res {
          display: none;
        }
      }
      .button-box {
        cursor: pointer;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        background: #70c05b;

        .menu-btn {
          display: flex;
          flex-direction: column;
          gap: 6px;
          justify-content: center;
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          box-sizing: border-box;
        }

        .menu-btn div {
          width: 20px;
          height: 1px;
          background-color: #fff;
          transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .menu-btn.active .line1 {
          transform: rotate(45deg) translate(5px, 5px);
        }

        .menu-btn.active .line2 {
          opacity: 0;
        }

        .menu-btn.active .line3 {
          transform: rotate(-45deg) translate(5px, -5px);
        }
        .catalog-box {
          a {
            color: #fff;
            font-size: 16px;
          }
        }
      }
      .search-box {
        border: 1px solid #70c05b;
        input {
          width: 250px;
          padding: 10px;
          border: none;
          outline: none;
        }
        display: flex;
        align-items: center;
        img {
          padding-right: 8px;
        }
      }
      .servise-box {
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          img {
            width: auto;
            height: 25px;
          }
        }
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 24px;
      }
      .select-box {
        img {
          cursor: pointer;
        }
        display: flex;
        align-items: center;
        gap: 10px;
        select {
          background-color: transparent;
          border: none;
          option {
            font-family: Rubik;
            margin-right: 20px;
            color: #232323;
          }
        }
      }
    }
  }
  .hero {
    // position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    margin-top: 85px;
    background-color: #fff;
    background-image: url(/img/hero.svg);
    height: 200px;
    .hero-content {
      display: flex;
      align-items: center;
      gap: 20px;
      h1 {
        font-family: Rubik;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #414141;
      }
    }
  }
}
main {
  .discount-section,
  .newItem-section,
  .purchased-section {
    margin-top: 100px;
    .section-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-family: Rubik;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #414141;
      }
      a {
        color: #606060;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }

    .discount-content {
      margin-top: 40px;
      margin-bottom: 80px;
      .product-list {
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
        gap: 40px;
        .product-item {
          position: relative;
          width: 272px;
          border-radius: 10px;
          background-color: #fff;
          box-shadow: 1px 2px 4px 0px #0000001a;
          .card:hover {
            // position: relative;
            // top: 1px;
            // right: 1px;
            transform: translate(1px, -1px);
            box-shadow: 4px 8px 16px 0px #ff663333;
            transition: all ease 0.3s;
          }
          .card {
            .like-btn {
              z-index: 10;
              position: absolute;
              right: 15px;
              top: 15px;
              img {
                background: #f3f2f1;
                padding: 5px;
                border-radius: 4px;
              }
            }
            .product-img {
              margin-top: 8px;
              position: relative;
            }
            .discount-label {
              position: absolute;
              top: 130px;
              right: 200px;
              // left: 15px;
              // bottom: 30px;
              color: #fff;
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: center;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              background-color: #ff6633;
              display: inline;
              padding: 7px;
              border-radius: 5px;
            }
            .card-content {
              padding: 8px;
            }
            .price {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .card-price {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 700;
                line-height: 27px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #414141;
              }
              .old-price {
                font-family: Rubik;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #606060;
              }
            }
            .servis {
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                font-family: Rubik;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #bfbfbf;
              }
            }
            .description {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #414141;
            }
            .rating {
              margin: 10px 0;
              display: flex;
              align-items: center;
              gap: 5px;
            }
            .add-to-cart {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: center;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              height: 40px;
              width: 100%;
              color: #70c05b;
              background-color: transparent;
              border: 1px solid #70c05b;
              border-radius: 4px;
            }
            .add-to-cart:hover {
              background: #ff6633;
              color: #fff;
              transition: ease all 0.5s;
              border: 1px solid #ff6633;
            }
          }
        }
      }
    }
  }
  .offers-section {
    margin-top: 120px;
    margin-bottom: 120px;
    .offer-content {
      h2 {
        color: #414141;
        font-family: Rubik;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      .cards {
        margin-top: 40px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        li:nth-child(1) {
          background: #fcd5ba;
          box-shadow: 0px 8px 16px 0px #ca936080;
          border-radius: 8px;
        }
        li:nth-child(2) {
          background: #e5ffde;

          box-shadow: 0px 8px 16px 0px #e5ffde;
          border-radius: 8px;
        }
        li {
          padding: 35px;
          width: 584px;
          height: 200px;
          display: flex;
          align-items: center;
          img {
          }
          .card-text {
            h3 {
              font-family: Rubik;
              font-size: 24px;
              font-weight: 700;
              line-height: 36px;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #414141;
            }
            p {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #414141;
            }
          }
        }
      }
    }
  }
  .adress-section {
    margin-bottom: 120px;
    h2 {
    }
    .adress-content {
      margin-top: 40px;
      .map-btn {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        gap: 25px;
        .btn {
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          background: #f3f2f1;
          border: none;
          border-radius: 4px;
          padding: 5px 10px;
        }
        .btn:focus {
          color: #fff;
          background-color: #70c05b;
        }
      }
    }
  }
  .articles-section {
    margin-bottom: 40px;
    h2 {
      font-family: Rubik;
      font-size: 36px;
      font-weight: 700;
      line-height: 54px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    .cards {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        border-radius: 8px;
        background-color: #fff;
        width: 376px;
        height: 420px;
        img {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        .card-content {
          padding: 10px;
          span {
            font-family: Rubik;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #8f8f8f;
          }
          h3 {
            margin-top: 10px;
            font-family: Rubik;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #414141;
          }
          p {
            margin-top: 10px;
            color: #414141;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
          .card-btn {
            margin-top: 10px;
            background: #e5ffde;
            border-radius: 4px;
            color: #70c05b;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            border: none;
            padding: 5px 10px;
          }
          .card-btn:hover {
            background-color: #70c05b;
            color: #fff;
          }
        }
      }
    }
  }

  // company.html
  .location-section {
    margin-top: 120px;
    .location-content {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        font-family: Rubik;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #8f8f8f;
      }
    }
  }
  .company-section {
    margin-bottom: 100px;
    .company-content {
      padding-top: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-image: url(/img/com-vek.svg);
      background-repeat: no-repeat;
      background-size: 669px;
      background-position: 550px 0px;
      .txt-content {
        h1 {
          font-family: Rubik;
          font-size: 64px;
          font-weight: 700;
          line-height: 96px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #414141;
        }
        p {
          font-family: Rubik;
          font-size: 24px;
          font-weight: 700;
          line-height: 36px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #ff6633;
        }
      }
    }
  }
  .description-section {
    margin-bottom: 100px;
    .features {
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        // align-items: center;
        justify-content: space-between;

        gap: 20px;
        li {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          // background-color: #fff9f0;
          padding: 20px;
          border-radius: 8px;
          width: 300px;
          h3 {
            font-size: 1rem;
            margin: 0;
          }
          p {
            margin: 4px 0 0;
            font-size: 0.9rem;
          }
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  .smile-section {
    margin-bottom: 100px;
    .smile-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
  }

  // catolog.html
  .catolog-section {
    h1 {
      font-family: Rubik;
      font-size: 64px;
      font-weight: 700;
      line-height: 96px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #414141;
    }
    .catolog-content {
      ul {
        display: flex;
        align-items: center;
        gap: 40px;
        .last-li {
          position: relative;
          top: 13px;
          a {
            position: relative;
            bottom: 70px;
          }
        }
        li {
          a {
            color: #fff;
            font-family: Rubik;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            position: relative;
            bottom: 50px;
            left: 30px;
          }
          a:hover {
            transform: scale(1.05);
          }
        }
      }
      ul:nth-child(2) {
        margin: 20px 0;
      }
    }
    .catolog-content img {
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }

    .catolog-content img:hover {
      transform: scale(1.05);
    }
    .catolog-content img:nth-child(1) {
      grid-column: span 1;
    }
  }
  // product.html
  .product-section {
    h1 {
      font-family: Rubik;
      font-size: 48px;
      font-weight: 700;
      line-height: 72px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #414141;
    }
    .product-content {
      display: flex;
      .filter {
        // background: #fff;
        // border: 1px solid #ccc;
        border-radius: 8px;
        padding: 0 20px 20px 20px;
        width: 272px;
        h3 {
          margin-bottom: 10px;
          font-size: 18px;
        }
        .price-filter {
          .cost-clean {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 13px;
          }
          .inputs {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
          }
          .inputs input[type="number"] {
            width: 125px;
            padding: 5px;
            font-size: 14px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 4px;
          }

          input[type="range"] {
            position: absolute;
            width: 100%;
            height: 5px;
            background: none;
            pointer-events: none;
            z-index: 2;
          }

          input[type="range"]::-webkit-slider-thumb {
            pointer-events: all;
            position: relative;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background-color: #4caf50;
            border: 2px solid #fff;
            cursor: pointer;
            -webkit-appearance: none;
          }

          input[type="range"]::-moz-range-thumb,
          input[type="range"]::-ms-thumb {
            pointer-events: all;
            position: relative;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background-color: #4caf50;
            border: 2px solid #fff;
            cursor: pointer;
          }
          .inputs span {
            margin: 0 10px;
          }
          #reset-btn {
            background-color: #eee;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
          }

          #reset-btn:hover {
            background-color: #ddd;
          }
          .slider {
            position: relative;
            height: 40px;
            margin-top: 23px;
          }

          .slider input[type="range"] {
            position: absolute;
            width: 100%;
            pointer-events: none;
            appearance: none;
            background: transparent;
          }

          .slider input[type="range"]::-webkit-slider-thumb {
            pointer-events: all;
            width: 16px;
            height: 16px;
            background-color: #4caf50;
            border-radius: 50%;
            cursor: pointer;
            appearance: none;
            border: 2px solid #fff;
          }

          .slider input[type="range"]::-moz-range-thumb {
            pointer-events: all;
            width: 16px;
            height: 16px;
            background-color: #4caf50;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid #fff;
          }

          .slider input[type="range"]::-ms-thumb {
            pointer-events: all;
            width: 16px;
            height: 16px;
            background-color: #4caf50;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid #fff;
          }
        }
      }
      .product {
        .product-list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;
          gap: 40px;
          align-items: stretch;
          .product-item {
            position: relative;
            width: 272px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 1px 2px 4px 0px #0000001a;
            .card:hover {
              transform: translate(1px, -1px);
              box-shadow: 4px 8px 16px 0px #ff663333;
              transition: all ease 0.3s;
            }
            .card {
              .like-btn {
                z-index: 10;
                position: absolute;
                right: 15px;
                top: 15px;
                img {
                  background: #f3f2f1;
                  padding: 5px;
                  border-radius: 4px;
                }
              }
              .product-img {
                margin-top: 8px;
                position: relative;
              }
              .discount-label {
                position: absolute;
                top: 130px;
                right: 200px;

                color: #fff;
                font-family: Rubik;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                background-color: #ff6633;
                display: inline;
                padding: 7px;
                border-radius: 5px;
              }
              .card-content {
                padding: 8px;
              }
              .price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .card-price {
                  font-family: Rubik;
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 27px;
                  text-align: left;
                  text-underline-position: from-font;
                  text-decoration-skip-ink: none;
                  color: #414141;
                }
                .old-price {
                  font-family: Rubik;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  text-align: left;
                  text-underline-position: from-font;
                  text-decoration-skip-ink: none;
                  color: #606060;
                }
              }
              .servis {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                  font-family: Rubik;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 18px;
                  text-align: left;
                  text-underline-position: from-font;
                  text-decoration-skip-ink: none;
                  color: #bfbfbf;
                }
              }
              .description {
                font-family: Rubik;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #414141;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .rating {
                margin: 10px 0;
                display: flex;
                align-items: center;
                gap: 5px;
              }
              .add-to-cart {
                font-family: Rubik;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                height: 40px;
                width: 100%;
                color: #70c05b;
                background-color: transparent;
                border: 1px solid #70c05b;
                border-radius: 4px;
              }
              .add-to-cart:hover {
                background: #ff6633;
                color: #fff;
                transition: ease all 0.5s;
                border: 1px solid #ff6633;
              }
            }
          }
        }
        .see-more {
          font-family: Rubik;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          text-underline-position: from-font;
          color: #606060;
          text-decoration-skip-ink: none;
          border: none;
          background: #f3f2f1;
          padding: 5px 10px;
          margin-top: 40px;
          margin-left: 385px;
          cursor: pointer;
        }
        .pagenation {
          margin-top: 40px;
          margin-bottom: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          .page {
            display: flex;
            align-items: center;
            gap: 50px;
            button {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: center;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;

              color: #606060;
              background-color: transparent;
              border: none;
              outline: none;
              cursor: pointer;
            }
            button:focus {
              color: #ff6633;
            }
          }
        }
      }
    }
  }
  // selected-product.html
  .selected_product-section {
    h1 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      margin-top: 20px;
    }
    .product-nav {
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 20px;
      .rating {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .share {
        display: flex;
        align-items: center;
        gap: 5px;
        a {
          color: #414141;
        }
      }
      .favourite {
        display: flex;
        align-items: center;
        gap: 5px;
        a {
          color: #414141;
        }
      }
    }
    .product-card {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      border-radius: 10px;
      padding: 20px 20px 20px 0;
      .product-images {
        display: flex;
        gap: 10px;
        .thumbnails {
          display: grid;
          img {
            width: 64px;
            height: 86px;
            border: 1px solid #ccc;
            border-radius: 5px;
            object-fit: cover;
          }
        }
      }
      .main-image {
        position: relative;
        img {
          width: 504px;
          height: auto;
          border-radius: 10px;
        }
        .discount-badge {
          position: absolute;
          top: 30px;
          right: 10px;
          background-color: #ff4747;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          padding: 5px 10px;
          border-radius: 5px;
        }
      }
      .product-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 900px;
        p {
          font-size: 16px;
          color: #555;
          margin: 0;
        }
        .rating {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .price-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 230px;
          .original-price {
            span {
              font-family: Rubik;
              font-size: 24px;
              font-weight: 400;
              line-height: 36px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
            .desc2 {
              font-family: Rubik;
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #bfbfbf;
            }
          }
          .current-price {
            span {
              margin-left: 50px;
              font-size: 24px;
              font-weight: bold;
              color: #414141;
            }
            .payment {
              display: flex;
              align-items: center;
              gap: 5px;
              .desc2 {
                font-family: Rubik;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #bfbfbf;
              }
            }
          }
        }
        .add-to-cart {
          margin-top: 20px;
          margin-bottom: 20px;
          margin-left: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          background-color: #ff7d00;
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          width: 279px;
          p {
            color: #fff;
            font-size: 16px;
          }
        }
        .add-to-cart:hover {
          background-color: #ff5500;
        }
        .product-details {
          table {
            width: 100%;
            border-collapse: collapse;
          }
          td {
            padding: 10px;
            font-size: 16px;
            color: #333;
          }
          tr:nth-child(odd) {
            background-color: #f3f2f1;
          }

          td:first-child {
            color: #555;
          }
          td:last-child strong {
            font-weight: 500;
            color: #000;
          }
        }
      }
    }
  }
  // cart.html
  .cart-section {
    margin-bottom: 80px;
    .cart-page {
      h1 {
        margin-top: 20px;
        font-size: 35px;
      }
      .cart-page-div {
        display: flex;
        // justify-content: center;
        // gap: 50px;
        justify-content: space-between;
        .cart-product {
          .cart-title {
            font-size: 24px;
            font-weight: bold;
            color: #414141;
            display: flex;
            align-items: center;
          }
          .cart-actions {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
          }
          .cart-actions label {
            font-size: 14px;
            color: #555;
          }

          .remove-btn {
            color: #ff4747;
            background: none;
            border: none;
            font-size: 14px;
            cursor: pointer;
          }
          .cart-items {
            display: grid;
            gap: 25px;
            width: 900px;
            margin-top: 20px;
            .cart-item:hover {
              transform: translate(3px, -3px);
              box-shadow: 4px 8px 16px 5px #ff663333;
              transition: ease all 0.3s;
            }
            .cart-item {
              background-color: #fff;
              display: flex;
              align-items: center;
              padding: 15px 15px;
              box-shadow: 0px 5px 30px #bfbfbf;

              .product-image {
                width: 60px;
                height: 60px;
                object-fit: cover;
                margin-right: 20px;
              }
              .product-details {
                flex: 1;
              }

              .product-name {
                font-size: 16px;
                color: #333;
              }

              .product-price {
                font-size: 14px;
                color: #888;
              }

              .old-price {
                text-decoration: line-through;
                color: red;
                margin-left: 5px;
              }

              .product-quantity {
                display: flex;
                align-items: center;
              }
              .div-discoutn {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                align-items: center;
              }

              .product-quantity button {
                background-color: #4caf50;
                color: white;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
              }

              .product-quantity span {
                margin: 0 10px;
              }

              .product-total {
                margin-left: 30px;
                font-size: 16px;
                font-weight: bold;
              }
              .discount {
                background-color: #fff7f7;
              }

              .discount-label {
                color: #8f8f8f;
                font-size: 16px;
                margin-left: 30px;
                text-decoration: line-through;
              }
              .out-of-stock-text {
                color: #888;
                font-style: italic;
              }
            }
          }
        }
        .cart-payment {
          width: 272px;
          padding-top: 20px;
          .cart-summary {
            padding-top: 35px;
            p {
              margin-top: 20px;
              color: #8f8f8f;
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
            }
            label {
              font-size: 16px;
              color: #414141;
            }
            .piece {
              display: flex;
              align-items: center;
              justify-content: space-between;
              p:nth-child(2) {
                color: #000;
              }
            }
            .cart-total-payment {
              display: flex;
              align-items: center;
              justify-content: space-between;
              p:nth-child(2) {
                color: #000;
                font-weight: bold;
                font-size: 25px;
              }
            }
            .discount {
              display: flex;
              justify-content: space-between;
              align-items: center;
              p:nth-child(2) {
                font-weight: 700;
                color: #ff4747;
              }
            }
            .horizant {
              margin: 24px 0;
              width: 272px;
              height: 2px;
              background: #f3f2f1;
            }
            .warning-payment {
              margin-bottom: 16px;
              margin-top: 30px;
              border-radius: 8px;
              text-align: center;
              font-size: 14px;
              padding: 5px;
              background-color: #ff4747;
              color: #fff;
            }
            .checkout-btn {
              background-color: #ff5c5c;
              color: white;
              border: none;
              padding: 20px 20px;
              font-size: 16px;
              cursor: pointer;
              margin-top: 20px;
              border-radius: 5px;
              width: 100%;
            }
          }
        }
      }
    }
  }
  // contact.html
  .adress-section {
    .contact-top {
      margin-bottom: 120px;
      h1 {
        color: #414141;
        font-family: Rubik;
        font-size: 64px;
        font-weight: 700;
        line-height: 96px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      .social-visit {
        display: flex;
        align-items: center;
        gap: 50px;
        li {
          display: flex;
          flex-direction: column;
          gap: 15px;
          // align-items: center;
          div {
            display: flex;
            align-items: center;
            gap: 10px;
          }
          a {
            margin-left: 30px;
            text-decoration: underline;
            font-size: 24px;
            color: #414141;
          }
        }
      }
    }
    .adress-content {
      .marketplace {
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        gap: 80px;
        li {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          .street {
            display: flex;
            align-items: center;
            gap: 8px;
          }
          .phone {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }
      }
    }
  }
}
footer {
  padding: 20px 0 0;
  // position: fixed;
  bottom: 0px;
  left: 45px;
  background-image: url(/img/bg-footer.svg);
  background-size: cover;
  margin-bottom: 25px;
  .foot {
    display: flex;
    align-items: center;
    .foot-ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 155px;
      li {
        gap: 40px;
        display: flex;
        align-items: center;
        a {
          color: #414141;
          font-family: Rubik;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
        .sm {
          img {
            cursor: pointer;
          }
          display: flex;
          align-items: center;
          gap: 16px;
        }
        .phone {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
    .foot-last {
      display: flex;
      align-items: center;
      justify-content: end;
      .noname {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  .foot-nav {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }
  header {
    .nav-content {
      .navigation {
        // box-shadow: 0 3px 0 0 #e9e6db;
        gap: 20px;

        .logo-box {
          .logo {
            display: none;
          }
          .logo-res {
            display: block;
          }
        }
        .button-box {
          .catalog-box {
            display: none;
          }
        }
        .search-box {
          input {
            width: 200px;
          }
        }

        .select-box {
          select {
            display: none;
          }
        }
      }
    }
    .hero {
      .hero-content {
        h1 {
          font-size: 35px;
        }
      }
    }
  }
  main {
    .discount-section,
    .newItem-section,
    .purchased-section {
      margin-top: 100px;
      .section-title {
        h2 {
        }
        a {
        }
      }
      .discount-content {
        .product-list {
          overflow: hidden;
          gap: 10px;
          .product-item {
            .card:hover {
            }
            .card {
              .like-btn {
                img {
                }
              }
              .product-img {
                width: 235px;
              }
              .discount-label {
                position: absolute;
                top: 110px;
                right: 165px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 10px;
  }
  header {
    .nav-content {
      .navigation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;
        .logo-box {
          cursor: pointer;
          .logo-res {
            display: block;
          }
        }
        .button-box {
          display: none;
        }
        .search-box {
          border: 1px solid #70c05b;
          input {
            width: 200px;
            padding: 10px;
            border: none;
            outline: none;
          }
          display: flex;
          align-items: center;
          img {
            padding-right: 8px;
          }
        }
        .servise-box {
          display: none;
        }
        .select-box {
          display: none;
        }
      }
    }
    .hero {
      height: 100px;
      .hero-content {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          display: none;
        }
        h1 {
          font-size: 20px;
          line-height: 100px;
        }
      }
    }
  }

  main {
    .discount-section,
    .newItem-section,
    .purchased-section {
      margin-top: 20px;
      .section-title {
        h2 {
          font-size: 24px;
          line-height: 24px;
        }
      }
      .discount-content {
        margin-top: 40px;
        .product-list {
          overflow: hidden;
          gap: 15px;
          .product-item {
            .card {
              .like-btn {
                z-index: 10;
                position: absolute;
                right: 10px;
                top: 10px;
                img {
                }
              }
              .product-img {
                width: 160px;
                margin-top: 8px;
                position: relative;
              }
              .discount-label {
                position: absolute;
                top: 70px;
                right: 280px;
                color: #fff;
                font-size: 16px;
                display: inline;
                padding: 3px;
                border-radius: 5px;
              }
              .card-content {
              }
              .price {
                .card-price {
                }
                .old-price {
                }
              }
              .servis {
                span {
                }
              }
              .description {
              }
              .rating {
              }
              .add-to-cart {
              }
              .add-to-cart:hover {
              }
            }
          }
        }
      }
    }
  }

  footer {
    .foot-nav-content {
      position: fixed;
      bottom: 0;
      background-color: #fff;
      .foot-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        padding: 20px 0;

        .search-box {
          display: none;
        }
        .select-box {
          cursor: pointer;
          margin-right: 15px;
          select {
            display: none;
          }
        }
        .servise-box {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 25px;
          li {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;
            p {
              font-size: 10px;
            }
            img {
              width: auto;
              height: 25px;
            }
          }
        }
        .button-box {
          cursor: pointer;
          margin-top: 3px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          cursor: pointer;
          padding: 10px;
          border-radius: 8px;
          // background: #70c05b;

          .menu-btn {
            display: flex;
            flex-direction: column;
            gap: 6px;
            justify-content: center;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            box-sizing: border-box;
          }

          .menu-btn div {
            width: 20px;
            height: 1px;
            background-color: #000;
            transition: transform 0.3s ease, opacity 0.3s ease;
          }

          .menu-btn.active .line1 {
            transform: rotate(45deg) translate(5px, 5px);
          }

          .menu-btn.active .line2 {
            opacity: 0;
          }

          .menu-btn.active .line3 {
            transform: rotate(-45deg) translate(5px, -5px);
          }
          .catalog-box {
            p {
              font-size: 10px;
              // display: none;
            }
          }
        }
      }
    }
  }
}
