@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}
body {
  background-color: #fbf8ec;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 116px;
}

header {
  .nav-content {
    // position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px 0;
      // border-bottom: 5px solid #fbf8ec;
      .logo-box {
        cursor: pointer;
        .logo-res {
          display: none;
        }
      }
      .button-box {
        cursor: pointer;
        padding: 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        background: #70c05b;

        .menu-btn {
          display: flex;
          flex-direction: column;
          gap: 6px;
          justify-content: center;
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          box-sizing: border-box;
        }

        .menu-btn div {
          width: 20px;
          height: 1px;
          background-color: #fff;
          transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .menu-btn.active .line1 {
          transform: rotate(45deg) translate(5px, 5px);
        }

        .menu-btn.active .line2 {
          opacity: 0;
        }

        .menu-btn.active .line3 {
          transform: rotate(-45deg) translate(5px, -5px);
        }
        .catalog-box {
          p {
            color: #fff;
            font-size: 16px;
          }
        }
      }
      .search-box {
        border: 1px solid #70c05b;
        input {
          width: 250px;
          padding: 10px;
          border: none;
          outline: none;
        }
        display: flex;
        align-items: center;
        img {
          padding-right: 8px;
        }
      }
      .servise-box {
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          img {
            width: auto;
            height: 25px;
          }
        }
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 24px;
      }
      .select-box {
        img {
          cursor: pointer;
        }
        display: flex;
        align-items: center;
        gap: 10px;
        select {
          background-color: transparent;
          border: none;
          option {
            font-family: Rubik;
            margin-right: 20px;
            color: #232323;
          }
        }
      }
    }
  }
  .hero {
    // position: fixed;
    right: 0;
    left: 0;
    margin-top: 3px;
    background-color: #fff;
    background-image: url(/img/hero.svg);
    height: 200px;
    .hero-content {
      display: flex;
      align-items: center;
      gap: 20px;
      h1 {
        font-family: Rubik;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #414141;
      }
    }
  }
}
main {
  .discount-section,
  .newItem-section,
  .purchased-section {
    margin-top: 100px;
    .section-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-family: Rubik;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #414141;
      }
      a {
        color: #606060;
        font-family: Rubik;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
    .discount-content {
      margin-top: 40px;
      .product-list {
        display: flex;
        align-items: center;
        // flex-wrap: wrap;
        gap: 40px;
        .product-item {
          position: relative;
          width: 272px;
          border-radius: 10px;
          background-color: #fff;
          box-shadow: 1px 2px 4px 0px #0000001a;
          .card:hover {
            // position: relative;
            // top: 1px;
            // right: 1px;
            transform: translate(1px, -1px);
            box-shadow: 4px 8px 16px 0px #ff663333;
            transition: all ease 0.3s;
          }
          .card {
            .like-btn {
              z-index: 10;
              position: absolute;
              right: 15px;
              top: 15px;
              img {
                background: #f3f2f1;
                padding: 5px;
                border-radius: 4px;
              }
            }
            .product-img {
              margin-top: 8px;
              position: relative;
            }
            .discount-label {
              position: absolute;
              top: 130px;
              right: 200px;
              // left: 15px;
              // bottom: 30px;
              color: #fff;
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: center;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              background-color: #ff6633;
              display: inline;
              padding: 7px;
              border-radius: 5px;
            }
            .card-content {
              padding: 8px;
            }
            .price {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .card-price {
                font-family: Rubik;
                font-size: 18px;
                font-weight: 700;
                line-height: 27px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #414141;
              }
              .old-price {
                font-family: Rubik;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #606060;
              }
            }
            .servis {
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                font-family: Rubik;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #bfbfbf;
              }
            }
            .description {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #414141;
            }
            .rating {
              margin: 10px 0;
              display: flex;
              align-items: center;
              gap: 5px;
            }
            .add-to-cart {
              font-family: Rubik;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: center;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              height: 40px;
              width: 100%;
              color: #70c05b;
              background-color: transparent;
              border: 1px solid #70c05b;
              border-radius: 4px;
            }
            .add-to-cart:hover {
              background: #ff6633;
              color: #fff;
              transition: ease all 0.5s;
              border: 1px solid #ff6633;
            }
          }
        }
      }
    }
  }
}
footer {
  .foot-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }
  header {
    .nav-content {
      .navigation {
        // box-shadow: 0 3px 0 0 #e9e6db;
        gap: 20px;

        .logo-box {
          .logo {
            display: none;
          }
          .logo-res {
            display: block;
          }
        }
        .button-box {
          .catalog-box {
            display: none;
          }
        }
        .search-box {
          input {
            width: 200px;
          }
        }

        .select-box {
          select {
            display: none;
          }
        }
      }
    }
    .hero {
      .hero-content {
        h1 {
          font-size: 35px;
        }
      }
    }
  }
  main {
    .discount-section,
    .newItem-section,
    .purchased-section {
      margin-top: 100px;
      .section-title {
        h2 {
        }
        a {
        }
      }
      .discount-content {
        .product-list {
          overflow: hidden;
          gap: 10px;
          .product-item {
            .card:hover {
            }
            .card {
              .like-btn {
                img {
                }
              }
              .product-img {
                width: 235px;
              }
              .discount-label {
                position: absolute;
                top: 110px;
                right: 165px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 10px;
  }
  header {
    .nav-content {
      .navigation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;
        .logo-box {
          cursor: pointer;
          .logo-res {
            display: block;
          }
        }
        .button-box {
          display: none;
        }
        .search-box {
          border: 1px solid #70c05b;
          input {
            width: 200px;
            padding: 10px;
            border: none;
            outline: none;
          }
          display: flex;
          align-items: center;
          img {
            padding-right: 8px;
          }
        }
        .servise-box {
          display: none;
        }
        .select-box {
          display: none;
        }
      }
    }
    .hero {
      height: 100px;
      .hero-content {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          display: none;
        }
        h1 {
          font-size: 20px;
          line-height: 100px;
        }
      }
    }
  }

  main {
    .discount-section,
    .newItem-section,
    .purchased-section {
      margin-top: 20px;
      .section-title {
        h2 {
          font-size: 24px;
          line-height: 24px;
        }
      }
      .discount-content {
        margin-top: 40px;
        .product-list {
          overflow: hidden;
          gap: 15px;
          .product-item {
            .card {
              .like-btn {
                z-index: 10;
                position: absolute;
                right: 10px;
                top: 10px;
                img {
                }
              }
              .product-img {
                width: 160px;
                margin-top: 8px;
                position: relative;
              }
              .discount-label {
                position: absolute;
                top: 70px;
                right: 280px;
                color: #fff;
                font-size: 16px;
                display: inline;
                padding: 3px;
                border-radius: 5px;
              }
              .card-content {
              }
              .price {
                .card-price {
                }
                .old-price {
                }
              }
              .servis {
                span {
                }
              }
              .description {
              }
              .rating {
              }
              .add-to-cart {
              }
              .add-to-cart:hover {
              }
            }
          }
        }
      }
    }
  }

  footer {
    .foot-nav-content {
      position: fixed;
      bottom: 0;
      background-color: #fff;
      .foot-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        padding: 20px 0;

        .search-box {
          display: none;
        }
        .select-box {
          cursor: pointer;
          margin-right: 15px;
          select {
            display: none;
          }
        }
        .servise-box {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 25px;
          li {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;
            p {
              font-size: 10px;
            }
            img {
              width: auto;
              height: 25px;
            }
          }
        }
        .button-box {
          cursor: pointer;
          margin-top: 3px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          cursor: pointer;
          padding: 10px;
          border-radius: 8px;
          // background: #70c05b;

          .menu-btn {
            display: flex;
            flex-direction: column;
            gap: 6px;
            justify-content: center;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            box-sizing: border-box;
          }

          .menu-btn div {
            width: 20px;
            height: 1px;
            background-color: #000;
            transition: transform 0.3s ease, opacity 0.3s ease;
          }

          .menu-btn.active .line1 {
            transform: rotate(45deg) translate(5px, 5px);
          }

          .menu-btn.active .line2 {
            opacity: 0;
          }

          .menu-btn.active .line3 {
            transform: rotate(-45deg) translate(5px, -5px);
          }
          .catalog-box {
            p {
              font-size: 10px;
              // display: none;
            }
          }
        }
      }
    }
  }
}
